.popular-games{

    padding:100px 0;

}

.popular-games h2{

    text-align:center;

    margin-bottom:50px;

    font-size:2.3rem;

}

.popular-games #games-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(min(340px,100%),1fr));

    gap:40px;

}