@import "reset.css";
@import "variables.css";

@import "../components/navbar/navbar.css";
@import "../components/hero/hero.css";
@import "../components/search/search.css";
@import "../components/popular-games/popular-games.css";
@import "../components/game-card/game-card.css";
@import "../components/game-header/game-header.css";
@import "../components/game-overview/game-overview.css";
@import "../components/progress/progress.css";
@import "../components/achievement-list/achievement-list.css";
@import "../components/achievement-card/achievement-card.css";
@import "../components/footer/footer.css";

body{

    background:var(--background);
    color:var(--text);

}

.container{

    width:min(1200px,90%);
    margin:0 auto;

}

.game-container{

    max-width:1100px;

    margin:0 auto;

    padding-bottom:80px;

}