@import "reset.css";
@import "variables.css";

@import "../components/navbar/navbar.css";
@import "../components/hero/hero.css";
@import "../components/search/search.css";
@import "../components/popular-games/popular-games.css";
@import "../components/game-card/game-card.css";
@import "../components/game-header/game-header.css";
@import "../components/footer/footer.css";

body{

    background:var(--background);
    color:var(--text);

}

.container{

    width:min(1200px,90%);
    margin:0 auto;

}